
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">


<head>
<meta charset="UTF-8">
<title>Welcome to Poseidon</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/my.css" />
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

	<div class="container-outer">

		<div class="container">
			<div class="header">
				<a href="#default" class="logo"><img alt="logo"
					th:src="@{/img/logo.PNG}"></a>
<!-- 				<div class="header-right">
					<a class="active" href="#" th:href="@{/home}">Home</a> <a href="#"
						th:href="@{/transaction}">Buddy-Transfer </a> <a href="#"
						th:href="@{/profile}">Profile</a> <a href="#"
						th:href="@{/contact}">Contact</a> <a href="#" th:href="@{/logout}">Log
						off</a>
				</div> -->
			</div>



			<section>
				<div>

					<div th:if="${errorMessage}" th:utext="${errorMessage}"
						style="color: red; font-style: italic; font-weight: bold;">...
					</div>

					<div>

						<br /> <br />

						<form th:action="@{/login}" method="POST">

							<div>
								<div class="row">
									<h2>Sign in to Poseidon </h2>
								</div>

								<br /> <br />

								<legend style="font-style: italic; font-size: 18px">Please
									choose a social network to login directly or fill in this form
									to create an account.</legend>

					            </br>
					            <div th:if="${param.error}">
					                <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
					            </div>
					
					            <div th:if="${param.logout}">
					                <p class="text-warning">You have been logged out.</p>
					            </div>
						<br> <br>
								<div class="vl">
								
									<span class="vl-innertext">or</span>
								</div>


								<div class="col">
								<br> 
									<a style="font-style: italic; font-size: 15px" href="#" class="fb btn"> <i class="fa fa-facebook fa-fw"></i>Login
										with Facebook
									</a> <a style="font-style: italic; font-size: 15px" href="#" class="twitter btn"> <i
										class="fa fa-twitter fa-fw"></i> Login with Twitter
									</a> <a style="font-style: italic; font-size: 15px" href="#" class="google btn"> <i
										class="fa fa-google fa-fw"> </i> Login with Google+
									</a> <a style="font-style: italic; font-size: 15px" href="#" class="linkedin btn"> <i
										class="fa fa-linkedin fa-fw"> </i> Login with LinkedIn
									</a> <a style="font-style: italic; font-size: 15px" href="http://localhost:9090/oauth2/authorization/github"
										class="github btn"> <i class="fa fa-github fa-fw"> </i>
										Login with GitHub
									</a> <a style="font-style: italic; font-size: 15px" href="#" class="microsoft btn"> <i
										class="fa fa-microsoft fa-fw"> </i> Login with microsoft
									</a> <a href="#" th:href="@{/register}"
										style=" font-size:16px; color: white; background-color:rgba(255,0,0,0.8);" class="btn">If
										you don't have an account? .. Sign Up Here 💲</a>
								</div>

								<div class="col">
									<div class="container-login">

										<br />
										<div align="center" th:if="${param.error}">
											<a style="font-size: 1em; color: #FF1C19;">Username or
												password is invalid</a>
										</div>
										<br />
										<div >
											<input type="text" id="username" name="username" size="50"
												maxlength="50" minlength="8" required="true"
												placeholder=" ✉  Username" /> <br />
											<input type="password"
												id="password" name="password" size="50" maxlength="50"
												minlength="8" required="true" placeholder=" 🔑  Password" />
											<br />


										</div>
										<div class="check">
											<label> <input type="checkbox" value="remember-me">Remember
												me
											</label>
										</div>
										<div >
											<input type="submit" name="Submit" value="Login" /> </br> </br>
											<p style="font-style: italic; font-size: 16px;">
												Not a member yet? <a href="#" th:href="@{/register}">SignUp
													now</a>
											</p>
										</div>
										<br>

										<div>
											<p>
												<a href=></a>
											</p>
										</div>
										<br> <br>
									</div>
						</form>
					</div>

		</section>
<br> <br>


	</div>
</body>
</html>