<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"
      xmlns="http://www.w3.org/1999/html">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<center>
  </br> </br> </br> </br>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="error-template">
          <h1 class="text-danger">
            Sorry but,  :-(</h1>
          </br></br>
          <h2 class="text-danger">
            You are not authorized to access this page !</h2>
          </br></br>
          <div class="error-actions">
            <a th:href="@{/home}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
              Take Me Home </a><a th:href="@{/home}" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</center>



