
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">


<head>
<meta charset="UTF-8">
<title>Sign Up in Poseidon</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/my.css" />
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

	<div class="container-outer">

		<div class="container">
			<div class="header">
				<a href="#default" class="logo"><img alt="logo"
					src="img/logo.png"></a>
				<!-- <div class="header-right">
					<a class="active" href="#" th:href="@{/home}">Home</a> <a href="#"
						th:href="@{/transaction}">Buddy-Transfer </a> <a href="#"
						th:href="@{/profile}">Profile</a> <a href="#"
						th:href="@{/contact}">Contact</a> <a href="#" th:href="@{/logout}">Log
						off</a>
				</div> -->
			</div>

			<section>
				<div style="padding-left: 20px">
					<!--  <h1>Responsive Header</h1>
  <p>Resize the browser window to see the effect.</p>
  <p>Some content..</p>  -->
					<div>

						<div>

							<br /> <br />
							<form th:action="@{/register}" th:object="${userDTO}" method="post" class="form-horizontal" style="width: 100%">

								<div>
									<div class="row">
										<h2>Register your Account here..</h2>
									</div>
									
									<br /> <br />
									
									<legend style="font-style: italic; font-size: 18px">Please
										 fill in this form
										to create an account.</legend>
<br> 

						<div th:if="${error}" th:utext="${error}"
							style="color: red; font-style: italic; font-weight: bold;">
							User with this username exists, Choose a different name,
							or if you are the user go to login session for sign in !
						</div>

<br>
	<p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
	<p class="text-danger" th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}"></p>
	<p class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>

									<div class="container-register">

										<div class="put">
										
										<br> <br><br>
											<label for="fullname"><span></span> <input
												type="text" class="form-control" id="fullname"
												name="fullname" th:value="${fullname}" size="50"
												maxlength="20" minlength="2" required="true"
												placeholder=" 👤  Fullname (required)" />
												
											</label>
											<br>
											<label for="username"> <span></span> <input type="text"
												class="form-control" id="username" name="username"
												th:value="${username}" size="50" maxlength="20"
												minlength="2" required="true"
												placeholder=" 👤  Username (required)" />
												
											</label>
											<br> 
											<label for="password"> <span></span> <input
												type="password" class="form-control" id="password"
												name="password" th:value="${password}" size="50"
												maxlength="50" minlength="1" required="true"
												placeholder=" 🔒  Password (required)" />
												
											</label>
											<br>
											<label for="password">Role - User</label>
											<label class="checkbox-inline"><input type="radio" th:field="*{role}" th:value="USER" th:checked ></label>
                        					<p class="text-danger" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></p>
											<hr>
											<p>
												By creating an account you agree to our <a href="#">Terms
													& Privacy</a>.
											</p>
										</div>

										</br>

										<div class="signup_blue">
											<button type="submit" class="btn"
												style="color: white; background-color: orange"
												size="50">Sign up 💸</button>
												<p>Already a member?  <a href="#" th:href="@{/login}">Sign In Here 💸💲</a> </p>
										</div>
										<br>




										<div>
											<p>
												<a href=></a>
											</p>
										</div>

									</div>
									</div>
							</form>


						</div>


						<!-- 									<div class="bottom-container"></div>

<div class="row">
						<a href="#" th:href="@{/login}"
							style="color: white; background-color: green" class="btn">Already
							have an account? .. Sign In Here 💲</a>
					</div> -->
			</section>

		</div>
		</div>
</body>
</html>