
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">


<head>
<meta charset="UTF-8">
<title>Sign Up in Poseidon</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/my.css" />
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

	<div class="container-outer">

		<div class="container">
			<div class="header">
				<a href="#default" class="logo"><img alt="logo"
					src="img/logo.png"></a>
				<div class="header-right">
					<a class="active" href="#" th:href="@{/home}">Home</a> <a href="#"
						th:href="@{/transaction}">Buddy-Transfer </a> <a href="#"
						th:href="@{/profile}">Profile</a> <a href="#"
						th:href="@{/contact}">Contact</a> <a href="#" th:href="@{/logout}">Log
						off</a>
				</div>
			</div>

			<section>
				<div style="padding-left: 20px">
					<!--  <h1>Responsive Header</h1>
  <p>Resize the browser window to see the effect.</p>
  <p>Some content..</p>  -->
					<div>

						<div th:if="${errorMessage}" th:utext="${errorMessage}"
							style="color: red; font-style: italic; font-weight: bold;">...
						</div>

						<div>

							<br /> <br />
							<form th:action="@{/register}" method="post">

								<div>
									<div class="row">
										<h1>Registration - Open Your Account 💰</h1>
									</div>
									
									<br /> <br />
									
									<legend style="font-style: italic; font-size: 18px">Please
										 fill in this form
										to create an account.</legend>
<br> <br>
	


									<div class="container-register">

										<div class="put">
										
										<br> <br><br>
											<label for="firstName"><span></span> <input
												type="text" class="form-control" id="firstName"
												name="firstName" th:value="${firstName}" size="50"
												maxlength="20" minlength="2" required="true"
												placeholder=" 👤  Firstname (required)" /> </label><br> <label
												for="lastName"> <span></span> <input type="text"
												class="form-control" id="lastName" name="lastName"
												th:value="${lastName}" size="50" maxlength="20"
												minlength="2" required="true"
												placeholder=" 👤  Lastname (required)" />
											</label><br> <label for="email"> <span></span> <input
												type="email" class="form-control" id="email" name="email"
												th:value="${email}" size="50" maxlength="50" minlength="5"
												required="true" placeholder=" ✉  Email (required)" />
											</label><br> <label for="password"> <span></span> <input
												type="password" class="form-control" id="password"
												name="password" th:value="${password}" size="50"
												maxlength="50" minlength="10" required="true"
												placeholder=" 🔒  Password (required)" />
											</label><br> <label for="confirmation"> <span></span> <input
												type="password" class="form-control" id="confirmation"
												name="confirmation" th:value="${confirmation}" size="50"
												maxlength="50" minlength="10" required="true"
												placeholder=" 🔑  Confirm Password " />
											</label><br>
											<hr>
											<p>
												By creating an account you agree to our <a href="#">Terms
													& Privacy</a>.
											</p>
										</div>

										</br>

										<div class="signup_blue">
											<button type="submit" class="btn"
												style="color: white; background-color: orange"
												onclick="return confirm( 'an account validation email has been sent to you.')"
												size="50">Sign up 💸</button>
												<p>Already a member?  <a href="#" th:href="@{/login}">Sign In Here 💸💲</a> </p>
										</div>
										<br>




										<div>
											<p>
												<a href=></a>
											</p>
										</div>

									</div>
									</div>
							</form>


						</div>


						<!-- 									<div class="bottom-container"></div>

<div class="row">
						<a href="#" th:href="@{/login}"
							style="color: white; background-color: green" class="btn">Already
							have an account? .. Sign In Here 💲</a>
					</div> -->
			</section>

		</div>
		</div>
</body>
</html>